<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=Grid, initial-scale=1.0">
  <title>Grid - Layout</title>
  <link rel="stylesheet" href="./../../dist/layout/grid.css">
</head>

<body>
  <div id="app" class="ln-grid" style="background-color: red;">
    <div class="row">
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
      <div class="col-md-1">1</div>
    </div>
  </div>
</body>

</html>